body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vw;
    background-image: url(../img/germ.png);
    animation: background-animation 5s infinite linear;
}

@keyframes background-animation{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 240px 240px;
    }
}

h1{
    background-color: white;
}

h5{
    margin: 15px;
}

h1, #coronavirus-cases, #deaths, #recovered{
    text-align: center;
    width: 50vw;
    padding: 25px;
    margin: 25px;
}

a{
    width: 45vw;
    background-color: white;
    text-align: center;
    padding: 5px;
}

#coronavirus-cases{
    background-color: rgb(255, 253, 108);
}

#deaths{
    background-color: black;
    color:white;
}

#recovered{
    background-color: greenyellow;
}